* {margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}

body {
background-color: white;
color: #3d3b3a; /* Cor do texto */
}

#header {
width: 100%;
height: 100%;
}

.container {
padding: 10px 10%;
margin-left: 0px;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 54px;
background-color: transparent; /* Manter o fundo do nav transparente */
}

nav ul li {
display: inline-block;
list-style: none;
margin: 10px 20px;
}

nav ul li a {
color: #3d3b3a; /* Cor do texto do link */
text-decoration: none;
font-size: 18px;
position: relative;
}

nav ul li a::after {
content: '';
width: 0;
height: 2px;
background: #3d3b3a; /* Cor da linha */
position: absolute;
left: 0;
bottom: -3px;
transition: 1s;
}

nav ul li a:hover::after {
width: 100%;
}

.content {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px; /* Espaçamento entre a barra de navegação e o conteúdo */
}

.image-text {
display: flex;
align-items: center;
}

.image-text img {
max-width: 50%; /* Defina a largura máxima da imagem conforme necessário */
margin-right: 150px; /* Espaçamento entre a imagem e o texto */
margin-top: 100px;
width: auto;
height: 400px;
}

.text {
text-align: left;
}

.text h2 {
font-family: "Martel Sans", sans-serif;
font-size: 35px; /* Tamanho do título "Quem somos" */
margin-bottom: 10px; /* Espaçamento abaixo do título */
font-weight: 300;
position: relative; /* Para posicionar o pseudo-elemento */
}
.text h2::before {
content: "";
position: absolute;
top: 50%; /* Ajuste a posição vertical para o meio do texto */
left: -65px; /* Ajuste a posição esquerda para colocar a linha à esquerda do texto */
width: 50px; /* Largura da linha */
height: 2px; /* Altura da linha */
background-color: #3d3b3a; /* Cor da linha */
transform: translateY(-50%); /* Ajuste para centralizar verticalmente a linha */
}
.text p {
margin-bottom: 20px; /* Espaçamento abaixo do texto */
margin-left: 10px;

}

.services-button {
background-color: rgba(0, 0, 0, 0.815);
color: white;
padding: 15px 30px;
font-size: 16px;
border: none;
border-radius: 30px;
margin-top: 5px;
cursor: pointer;
transition: transform 0.2s;
}

.services-button:hover {

transform: scale(1.03); /* Aumentando o tamanho do botão ao passar do mouse */
}

#header {
position: relative; /* Adicionando posição relativa para poder usar na definição da margem superior do footer */
}
footer {
background-color: #111111f3;
color: #fff;
padding: 50px 0;
margin-top: calc(13% + -21px); 
}
footer .container {
display: flex;
justify-content: center;
gap: 20px;
padding: 0 10%;
}
.footer-block {
flex: 1;
text-align: center;
}

.footer-block a {
text-decoration: none;
color: inherit;
}

.footer-block h2 {
margin-bottom: 10px;
font-family: "Libre Baskerville", serif;
}

.footer-block p {
margin-left: -21px;
margin-top: 15px;
margin-bottom: 10px;
color: #ccc;
font-family: "Inter", sans-serif;
}
.footer-block img {
margin-right: 5px;
vertical-align: middle;
}

.social-icon {
margin-top: 6px;
margin-left: 10px;
transition: transform 0.4s;
}
.social-icon:hover {
transform: scale(1.2);
}

.footer-copyright {
position: absolute; 
bottom: -150px; 
right: 30px; 
color: #ccc; 
font-size: 12px; 
}